<!DOCTYPE html>
<html lang="en" ng-app="cm2000App">
<head>
	<meta charset="UTF-8">
	<title>Chess Monitor 2000</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">

	<script src="../bower_components/angular/angular.js"></script>
	<script src="js/controllers.js"></script>
</head>
<body ng-controller="Cm2000Ctrl">
	<form ng-submit="addPlayer(curVal)">
		<input type="text" ng-model="curVal" placeholder="Add player">
	</form>
	<ul>
		<li ng-repeat="player in players">
			{{player.name}}
			<form ng-submit="removePlayer(uidToRm)" id="player.uid">
				<input type="button" value="X">
			</form>
		</li>
	</ul>
</body>
</html>